.tab-pane{
    padding-top: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #74868e;
}
.main{
    border-bottom:#333 1px solid;
    padding: 30px 0;
}

.artist-img-container{
    display: -webkit-inline-box;
}

.artist-thumbnail{
    width:80px;
    height: auto;
    margin-right: 5px;
}

.artist-header{
    padding-bottom: 5px;
}

.artist-header h1{
    display: inline;
    position: absolute;
    margin-top: 0 !important;
}

.artist-albums .well{
    margin-bottom: 20px;
    overflow: auto;
    min-height: 400px;
}
.related-artist .well{
    margin-bottom: 20px;
    overflow: auto;
    min-height: 400px;
}


.album, .r-artists{
    height:200px;
    text-align: center;
    background: #333;
    padding:10px 20px;
    border:#666 1px solid;
}

.album-thumb{
    width:100%;
}